<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<title>Shop Ptit</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/images/emsi.png}" src="../static/images/emsi.png"
				width="auto" height="40" class="d-inline-block align-top" alt="" />
			</a>
<!-- 			<nav class="navbar-nav" > -->
<!-- 			<a class="nav-link active">Welcome <span sec:authentication="principal.username"> User</span></a> -->
<!-- 			</nav> -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<nav class="navbar-nav" >
				<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/admin/}" href="#">Admin Page</a>
                   </th:block>
                    
					<a class="nav-link active" th:href="@{/}" href="#">Home</a>
                    <a class="nav-link active" th:href="@{/shop}" href="#">Shop</a>
                    <a class="nav-link active" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                    <a class="nav-link active" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
                    <a class="nav-link active" th:href="@{/cart}" href="#"><img
						th:src="@{/images/cart.png}" src="../static/images/cart.png"
						width="auto" height="30" class="d-inline-block align-top" alt="" />
					</a>
					<a><span class="nav-link" th:text="${cartCount}">0</span></a> 
			</nav>

		</div>
	</nav>
</body>
</html>